<p id="notice"><%= notice %></p>

<h1>Manage Patients</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Hcprof</th>
      <th>User</th> -->
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Emergency Contact</th>
      <th>Emergency Contact Number</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.hcprof %></td>
        <td><%= patient.user %></td>
        <td><%= patient.name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.age %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.phoneNumber %></td>
        <td><%= patient.emergencyContactName %></td>
        <td><%= patient.emergencyContactNum %></td>
        <td><%= patient.specialNotes %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
